@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-uno: #FFCDB2;
    --color-dos: #FFB4A2;
    --color-tres: #E5989B;
    --color-cuatro: #B5838D;
    --color-cinco: #6D6875
;
}

body{
    font-family: 'Montserrat', sans-serif;       
}

.lista-lenguajes .titulo h2,
.lista-servicios .titulo h2{
    color: #4d4c4c;
}
/*=========== PRESENTACION ==========*/

.presentacion h1{
    font-weight: 900;
}
.presentacion .titulo-gradiente{
  font-size: 3.5em;
  background-image: linear-gradient(45deg, var(--color-uno), var(--color-tres));
  background-color: var(--uno);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.presentacion p{
    color: var(--color-cuatro);
}

.side-img img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 15em 0 0 15em;
}


/*=========== LISTAS CLIENTES ==========*/

.lista-clientes{
    background: #efefef;
    position: relative;
}

.lista-clientes .titulo{
    color: white;
    font-size: 3.5;
    background-color: var(--color-dos);       
    width: auto;
    position: absolute;
    top: -5%;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

.lista-clientes img{
    width: 100%;
    max-width: 250px;
    transition: all ease 200ms;
    filter: saturate(0%);
}

.lista-clientes img:hover,
.lista-clientes img:target{
    transform: scale(1.1);
    filter: saturate(100%);
}



/*=========== LENGUAJES ==========*/
.lista-lenguajes .titulo h2{
    font-size: 3em;
}

.lenguaje .len-hover{
    overflow: hidden; 
    margin-top: 1em;
    min-width: 150px;
    width: 200px;
    height: 250px;
    border-radius: 1em;
    position: relative;
    transition: all ease .50s; 
}

.lenguaje .css3{
    background-color: var(--color-uno);    
}

.lenguaje .javas{
    background-color: var(--color-dos); 
}

.lenguaje .python{
    background-color: var(--color-tres); 
}

.lenguaje .react{
    background-color: var(--color-cuatro); 
}

.lenguaje h3{
    position: relative;
    bottom: -200px;
   transition: all ease .50s; 
   color: var(--color-cinco);   
}

.lenguaje .javas h3{
 width: 80%;
 margin: 0 auto;
}

.lenguaje i{
    position: relative;
    top: 25%;
    color: #fff;
    font-size: 5em;
    text-align: center;
}


/*=========== SERVICIOS ==========*/
.separador{
    display: flex;
    justify-content: center;
}

hr{
    position: relative;
    width: 50%;
}

.lista-servicios h2{
    min-width: 300px;
    font-size: clamp( 3em, 4vw, 4em);
    font-weight: 900;
    width: 100%;
    word-break: break-word;
}

.lista-servicios h2 span{
    color: var(--color-cuatro);
}

.lista-servicios .servicio{
    max-width: 450px;
    width: 100%;
    border-radius: 1em 1em 0 0;
    overflow: hidden;
    position: relative;
}


.lista-servicios .servicio .info-servicio{
    background-color: var(--color-tres);
    display: flex;
    align-items: center;
    width: 100%;
    height: 3em;
    padding: 5px;
    backdrop-filter: blur(50px);
    position: absolute;
    bottom: -0;
}

.servicio img{
    transition: all ease 250ms;

}

.servicio:hover img{
    transform: scale(1.2);
}


.lista-servicios .info-servicio h3{
    margin-bottom: 0;
    font-size: clamp(1.4em, 1.9vw, 3em) ;
    width: 100%;
    color: white;
    font-weight: 700;
}

.lista-servicios .info-servicio .fas{
    font-size: 2em;
    padding: 1em;
    color: white;
}
/*=========== TRAYECTORIA ==========*/
.wave{
    background: url(img/wave.png);
    background-size: cover;
    background-blend-mode: color-burn;
    width: 100%;
    height: 600px;
    margin: 0;
}

.trayectoria .fas{
    font-size: clamp(7em, 4vw, 10em);
}


.trayectoria p{
    font-size: 2em;
    font-weight: 800;
}

.trayectoria p,
.trayectoria i{
 /*background-image: linear-gradient(45deg, var(--color-uno), var(--color-tres));
  background-color: var(--uno);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;*/
  color: #efefef;
  text-shadow: 2px 2px 1px  var(--color-tres);
}


/*=========== TEAM ==========*/

 .lista-team .titulo{
    background-image: linear-gradient(45deg, var(--color-uno), var(--color-tres));
    border-radius: 0 25em 25em 0;
}

 /* .lista-team .titulo:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10%;
    height: 50px;
    width: 90%;
    background-color:  rgba(0, 0, 0, .3);
    transform-origin: left;
    transform:  skewY(5deg);
    filter: blur(5px);
    }*/


.lista-team  .titulo h2{
    color: white;
    border-radius: 0.2em;
    margin: 0;
    display: flex;
    align-items: center;
    width: 80%;
    font-size: clamp(3em, 2vw, 5em);
}





/*=========== QUERY ==========*/

@media (max-width: 768px) {
   .side-img img{
    display: none;
   }

   .lenguaje h3{
    bottom: -4em;
   }

   .lenguaje .len-hover{
    box-shadow: 0px 20px 1em rgba(0, 0, 0, .2);
   }
}



@media (min-width:  786px){
    .lenguaje:hover h3{
   transform: translateY(-4em);
  }

  .lenguaje .len-hover:hover {
    box-shadow: 0px 20px 1em rgba(0, 0, 0, .2);
    transform: translateY(-5px);
    }
}